.burger-menu {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    justify-content: center;
    align-items: center;
    color: var(--fixed-white) !important;
    overflow: hidden;
}


.burger-menu .bar {
    border: 2px solid var(--fixed-white);
    width: 2rem;
    border-radius: 0.5rem;
    transition: all 0.3s;
}

.change .bar1 {
    opacity: 1;
    transform: translateY(7px) rotate(45deg);
}

.change .bar3 {
    opacity: 1;
    transform: translateY(-11px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.main-paper {
    position: fixed;
    padding: 1rem;
    background: var(--black);
    top: 5rem;
    right: 0;
    height: 100vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    /* border: 2px solid red; */
}

.main-paper a {
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--fixed-white) !important;
    padding: 0.5rem;
    border-radius: 1rem;
    transition: all 0.3s;
    min-width: 8rem;
    text-align: center;
}

.main-paper .active {
    background-color: var(--theme);
}