/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Mukta:wght@200;300;400;500;600;700;800&family=Mulish:wght@300&family=Varela&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Mukta:wght@200;300;400;500;600;700;800&family=Mulish:wght@300&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Varela&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Mukta'; */
    font-family: 'Space Mono', monospace;
    /* color: var(--white); */
    /* transition: all 0.5s; */
}

:root {
    --blue: #074380;
    --white: #edf5e1;
    --green: #5cdb95;
    --lite-green: #8ee4af;
    --green-blue: #379689;
    --black: #0e0e0e;
    --not-black: #1a1a1a;
    --fixed-white: #edf5e1;
}

[data-theme="light"] {
    --blue: #049746;
    --white: #151515;
    --green: #074380;
    --lite-green: #8ee4af;
    --green-blue: #379689;
    --black: #c8c8c8;
    --not-black: #e7e7e7;
    --fixed-white: #111110;
}


::selection {
    background-color: var(--blue);
    color: var(--white);
}

::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: smooth;
}